<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.modules.sys.mapper.CaptchaMapper">

    <resultMap id="BaseResultMap" type="com.lt.modules.sys.model.entity.Captcha">
        <id property="uuid" column="uuid" jdbcType="CHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="expireTime" column="expireTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        uuid,code,expireTime
    </sql>
</mapper>
