<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lt.modules.sys.mapper.OrganPlanMapper">

    <resultMap id="BaseResultMap" type="com.lt.modules.sys.model.entity.OrganPlan">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="organId" column="organId" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="startTime" column="startTime" jdbcType="TIMESTAMP"/>
            <result property="trainPeriod" column="trainPeriod" jdbcType="INTEGER"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="creator" column="creator" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updater" column="updater" jdbcType="VARCHAR"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,organId,content,
        startTime,trainPeriod,endTime,
        creator,createTime,updater,
        updateTime,isDelete
    </sql>
</mapper>
